body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #051937, #002667, #0b2e97, #462dc4, #8312eb);    
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color: white;
    color: black;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav .logo img {
    width: 150px;
}

#nav ul {
    display: flex;
    gap: 200px;
    margin-right: 100px;
}

#nav li {
    list-style-type: none;
}

#nav a {
    text-decoration: none;
    color: black;
}

#nav a:hover {
    color: rgb(131, 131, 131);
}

#menu{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sortby{
    display: flex;
    border-radius: 30px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 900px;
}

#sort{
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#darkmode{
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#darkmode:hover{
    background-color: rgb(39, 39, 39);
}

#lightmode:hover{
    background-color: rgb(211, 211, 211);
}

#lightmode{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#cards {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
}

#templatesection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 800px;
    gap: 20px;
    border-radius: 20px;
}

.templatefav{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.templateimage {
    width: 250px;
}

.templateimage:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: white;
}

footer > img{
    width: 70px;
}

#popupvideo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#popupvideo .video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    object-fit: cover;
    border: 3px solid white;
}

#popupvideo .close{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 60px;
    font-weight: bolder;
    z-index: 100;
    color: white;
    cursor: pointer;
}